<script type='text/javascript' src='productsHandle.js'></script>
<div class = 'container'>


  
      <div id="productsMenu" class="" role="group" aria-label="...">

        <div class = "col-md-2 col-xs-4">
         <button id='addProduct' type="button" class="btn btn-default ">Add product</button>
         <button id='deleteProduct'      type="button" class="btn btn-default">Delete Product</button>
         <button id='listProducts'       type="button" class="btn btn-default">View Product List</button>
         <button id='productCategories'  type="button" class="btn btn-default">Product Categories</button>
         <button id='productPerfomances' type="button" class="btn btn-default">Perfomances</button>
         <button id='productProfits'     type="button" class="btn btn-default">Profits</button>
         </div>

       </div>
  

  <div id='main' class='col-md-8'><div id='first'><h1> Product Management Section </h1></div></div>

</div>

<script id="perfomances" type="text/x-handlebars-template">
  <div id='perfomancesTable' class=".col-md-6"> 
  <div id='mostPopular' class=".col-md-8">  
    <h3> Most Popular Product </h3>
    <h4> {{mostPopularProd.name}} </h4>
  </div>
  <div id='leastPopular' class=".col-md-8">  
    <h3> Least Popular Product </h3>
    <h4> {{leastPopularProd.name}} </h4>
  </div>
  <div id='mostPopularCat' class=".col-md-8">  
    <h3> Most Popular Category </h3>
    <h4> {{mostPop.name}} </h4>
  </div
  <div id='leastPopularCat' class=".col-md-8">  
    <h3> Least Popular Category </h3>
    <h4> {{leastPop.name}} </h4>
  </div>
  </div>
</script>



<script id="productlist" type="text/x-handlebars-template">  
  <table class="table" id='productsTable'>
    <h4 id='tableHead' class="label label-default">Click on a product to edit</h4>
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>        
        <th></th>
      </tr>
    </thead>
    <tbody>
       \{{#each products}}
        <tr id='\{{prodID}}'>      
          <td id='productName'>
          <input type="text" id="prod_name\{{prodID}}" value="\{{name}}">        
        
          </td>
          <td id='productCat'>
          <input type="text" id="prod_category\{{prodID}}" value="\{{category}}">
          </td>

          <td id='edit'>
          <button type='submit' id='updateProdBtn' class='btn btn-warning' onclick="updateProduct('#prod_name\{{prodID}}','#prod_category\{{prodID}}','\{{prodID}}')">Save Edit</button>
                 
          </td>

        </tr>
       \{{/each}}
    </tbody>
  </table>

</script>



<script id="product_categories" type="text/x-handlebars-template">
  <div id='categoriesTable' class=".col-md-6"> 
      

        \{{#each productCategories}}
        <h4 class="label label-default"> \{{name}} </h4>
        \{{/each}}
       

    </div>  
</script>

<script id="add-Products" type="text/x-handlebars-template">
    <div id='addDiv' class='col-md-8'>
        <h1> Add new Product </h1>
       
           <h4> Product Name </h4>
           <input type='text' id='_name'>
           <h4> Select Product Category </h4>
           <select id='newCtgry'>
              
              \{{#each productCategories}}
               <option value="\{{id}}" >\{{name}}</option>
              \{{/each}}

           </select>
           <button type='submit' id='newProdBtn' class='btn btn-warning' onclick="postProduct('#_name','#newCtgry')">Save </button>
        
    </div>
</script>

<script id='delete-product' type="text/x-handlebars-template">
  <div id='deleteDiv'>
      <h1> Delete Product </h1>
      <select id='deleteProductSelect'>

         \{{#each products}}
         <option id='\{{prodID}}' value='\{{prodID}}' class='\{{name}}'>\{{name}}</option>
         \{{/each}}
 
      </select>
     <button type='submit' id='deleteProdBtn' class='btn btn-warning' onclick="deleteProduct('#deleteProductSelect')"> Delete
     </button>
  </div>

</script>

<script type='text/javascript'> 
    
    $(function(){       
        getProductList();
        getProductCategories();
        getProductPerfomances();
        PrepareNewProduct();
        PrepareProductDeletion();
    })
  
</script>
<script src="/templating.js"></script>







